{% extends "base.html" %}

{% block content %}

<h1 class="my-4">Задачи</h1>

<div class="card mb-4">
    <div class="card-body">

        <form method="get">

            <div class="row">

                <div class="col-md-3">
                    {{ filter.form.status.label_tag }}
                    {{ filter.form.status }}
                </div>

                <div class="col-md-3">
                    {{ filter.form.executor.label_tag }}
                    {{ filter.form.executor }}
                </div>

                <div class="col-md-3">
                    {{ filter.form.labels.label_tag }}
                    {{ filter.form.labels }}
                </div>

                <div class="col-md-3 mt-4">
                    {{ filter.form.self_tasks }}
                    {{ filter.form.self_tasks.label }}
                </div>

            </div>

            <button type="submit" class="btn btn-primary mt-3">
                Показать
            </button>

        </form>

    </div>
</div>


<a href="{% url 'tasks:create' %}" class="btn btn-primary mb-3">
    Создать задачу
</a>


<table class="table table-striped">

<thead>
<tr>
    <th>ID</th>
    <th>Имя</th>
    <th>Статус</th>
    <th>Автор</th>
    <th>Исполнитель</th>
    <th>Дата создания</th>
    <th></th>
</tr>
</thead>

<tbody>

{% for task in filter.qs %}

<tr>

<td>{{ task.id }}</td>

<td>
<a href="{% url 'tasks:detail' task.id %}">
{{ task.name }}
</a>
</td>

<td>{{ task.status }}</td>

<td>{{ task.author }}</td>

<td>{{ task.executor }}</td>

<td>{{ task.created_at }}</td>

<td>

<a href="{% url 'tasks:update' task.id %}">Изменить</a>
<br>

<a href="{% url 'tasks:delete' task.id %}">Удалить</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}
