{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
<h1>Вход</h1>
<form method="post">
    {% csrf_token %}
    <label for="id_username">Имя пользователя</label>
    <input type="text" name="username" id="id_username" required>

    <label for="id_password">Пароль</label>
    <input type="password" name="password" id="id_password" required>

    <button type="submit">Вход</button>
</form>
<p>
    Нет аккаунта? <a href="{% url 'register' %}">Регистрация</a>
</p>
{% endblock %}
