{% extends "base.html" %}

{% block content %}
<h1>
  {% if object %}
    Изменение пользователя
  {% else %}
    Регистрация
  {% endif %}
</h1>

<form method="post">
  {% csrf_token %}

  <div class="mb-3">
    <label for="id_first_name">Имя</label>
    {{ form.first_name }}
  </div>

  <div class="mb-3">
    <label for="id_last_name">Фамилия</label>
    {{ form.last_name }}
  </div>

  <div class="mb-3">
    <label for="id_username">Логин</label>
    {{ form.username }}
  </div>

  <div class="mb-3">
    <label for="id_email">Email</label>
    {{ form.email }}
  </div>

  {% if form.password %}
  <div class="mb-3">
    <label for="id_password">Пароль</label>
    {{ form.password }}
  </div>
  {% endif %}

  <button type="submit" class="btn btn-primary">
    {% if object %}
      Изменить
    {% else %}
      Зарегистрировать
    {% endif %}
  </button>

</form>

{% endblock %}
