{% extends "base.html" %}
{% block content %}
<h1>Регистрация</h1>
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="id_first_name" class="form-label">Имя</label>
    <input type="text" name="first_name" id="id_first_name" class="form-control">
  </div>
  <div class="mb-3">
    <label for="id_last_name" class="form-label">Фамилия</label>
    <input type="text" name="last_name" id="id_last_name" class="form-control">
  </div>
  <div class="mb-3">
    <label for="id_username" class="form-label">Логин</label>
    <input type="text" name="username" id="id_username" class="form-control">
  </div>
  <div class="mb-3">
    <label for="id_password" class="form-label">Пароль</label>
    <input type="password" name="password" id="id_password" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
{% endblock %}
