{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<h2>Регистрация</h2>

<form method="post">
    {% csrf_token %}

    <div>
        <label for="first_name">Имя</label>
        <input id="first_name" name="first_name" type="text" required>
    </div>

    <div>
        <label for="last_name">Фамилия</label>
        <input id="last_name" name="last_name" type="text" required>
    </div>

    <div>
        <label for="username">Имя пользователя</label>
        <input id="username" name="username" type="text" required>
    </div>

    <div>
        <label for="password">Пароль</label>
        <input id="password" name="password1" type="password" required>
    </div>

    <div>
        <label for="password2">Подтверждение пароля</label>
        <input id="password2" name="password2" type="password" required>
    </div>

    <button type="submit">Зарегистрироваться</button>
</form>

{% endblock %}
