{% extends "base.html" %}

{% block content %}

<h1>Регистрация</h1>

<form method="post">
  {% csrf_token %}

  <div>
    <label>Имя</label>
    {{ form.first_name }}
  </div>

  <div>
    <label>Фамилия</label>
    {{ form.last_name }}
  </div>

  <div>
    <label>Имя пользователя</label>
    {{ form.username }}
  </div>

  <div>
    <label>Пароль</label>
    {{ form.password1 }}
  </div>

  <div>
    <label>Подтверждение пароля</label>
    {{ form.password2 }}
  </div>

  <button type="submit">Зарегистрировать</button>

</form>

{% endblock %}
