{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Регистрация</h2>
    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="id_first_name" class="form-label">Имя</label>
            <input type="text" name="first_name" id="id_first_name" class="form-control" required>
        </div>
        
        <div class="mb-3">
            <label for="id_last_name" class="form-label">Фамилия</label>
            <input type="text" name="last_name" id="id_last_name" class="form-control" required>
        </div>
        
        <div class="mb-3">
            <label for="id_username" class="form-label">Имя пользователя</label>
            <input type="text" name="username" id="id_username" class="form-control" required>
        </div>
        
        <div class="mb-3">
            <label for="id_password1" class="form-label">Пароль</label>
            <input type="password" name="password1" id="id_password1" class="form-control" required>
        </div>
        
        <div class="mb-3">
            <label for="id_password2" class="form-label">Подтверждение пароля</label>
            <input type="password" name="password2" id="id_password2" class="form-control" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Зарегистрировать</button>
    </form>
</div>
{% endblock %}
